<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--This .config file was added to help protect sensitive data from being viewed in the app, repo, or general source control-->
  <!--Because of the file attribute on the appSettings in the web.config, these sections will be merged together at runtime by the .net framework. For the file attribute to work this config file should only contain info about appSettings-->

  <!--Replace yourdomain.com below with your actual domain and extension-->
  <add key="EmailClient" value="mail.brighamlewis.com"/>

  <add key="EmailUser" value="no-reply@brighamlewis.com"/>

  <add key="EmailPass" value="Ga11ade425$"/>

  <add key="EmailTo" value="brighamlewis@gmail.com"/>

</appSettings>