@{
    ViewBag.Title = "About Me";
}

<div class="jumbotron text-center">
    <br /><br /><br />
    <h1>About Me</h1>
    <p class="lead">My name is Brigham Lewis, Full-Stack Web Developer. Ever since I was little I have been interested in computers and technology, this led to my passion for computers. Between tinkering with computers and playing different games when I was younger when I discovered coding and development it just felt right. Fast forward a few years and here we are: An upcoming graduate of Centriq training and Full-Stack Web Developer. Over the past year I have been diving into new technologies and finding a stride at Centriq and learning more and more about coding. I have dived into many technologies and languages including HTML, CSS, C#, MVC, ReactJS, and More. To learn more about the things I've been doing over the the last year check out my <a href="@Url.Action("Portfolio", "Home")">project portfolio</a>. </p>
</div>
<br /><br />
<h1 class="text-center">Featured Projects:</h1>
<br /><br />
<div class="row">
    <div class="col-md-4">
        <h2>      StoreFront - MVC Site w/Database integration</h2>
        <p>
                  A fully functional Storefront page built with MVC with fully connected database functionality.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>To-Do Tool - ReactJS</h2>
        <p>A tool built for my personal projects in react to help keep track of what needs to be completed. Uses a database to keep track of different ToDo items.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chef's Toolkit - HTML and CSS Only Site</h2>
        <p>A site built for an educational company using only HTML and CSS, includes multiple pages and custom formating. (Browser Only)</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>