
@{
    ViewBag.Title = "Resume";
}
<br />
<h1 class="text-center">@ViewBag.Title</h1>
<h3 class="text-center">
    <a class="text-center" href="~/Content/PDFs/BrighamLewis Resume IT.pdf">
        Resume Download
    </a>
</h3>
<div class="row m-1">
    <div class="col-lg-6">
        <h3>Summary</h3>
        <br />
        <h4>
            Technical Skills
        </h4>
        <p>
            <ul>
                <li>Front End: HTML5, JS, ReactJS, CSS3, Bootstrap, and JQuery</li>
                <li>Mid tier: C#.NET, ASP.NET, LINQ, MVC, EF, ASP.NET Web API</li>
                <li>Back End: ADO.NET, SQL, SQL Server</li>
                <li>Tools: Visual Studio, Visual Studio Code, SSMS, FileZilla</li>
            </ul>
        </p>
        <br />
        <h4>Professional Skills</h4>
        <p>
            Troubleshooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork, Pair Programming, Organization, Deadline Focused, Reliable
        </p>
    </div>

    <div class="col-lg-6">
        <h3>Education</h3>
        <h4>Centriq Full Stack Web Developer Program</h4>
        <p>
            July 2021 - October 2021
            <br />
            Centriq Training - Kansas City, MO
            <ul>
                <li>Learned Front End, Mid Tier, and Back End technologies and skills in .NET Framework </li>
                <li>Created and deployed professional projects.</li>
                <li>Learned professional skills that benefit developers such as: Code Review, Working in teams, Troubleshooting, etc.</li>
            </ul>
        </p>
        <h4>Kansas State University</h4>
        <p>
            August 2018 - May 2021
            <br />
            Computer Science - Engineering School
        </p>
        <ul>
            <li>Received a well rounded general education as well as basic coding practices using python and some Java.</li>
        </ul>
    </div>

</div>